:root {
--gray: #494949;
--white: #ffffff;
--purple: #ce72ff;
--blue: #0087ff;
}


body {
  background-color: #d9dcd6;
}


header {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--gray);
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}


header nav a {
  display: inline-block;
  margin-left: 25px;
  color: var(--white);
  text-decoration: underline;
}

/* General Title for all sections */
.section-title {
  font-size: 30px;
  text-align: right;
  width: 20%;
  border-right: 5px solid;
  padding: 10px;
}

/* About Me Section  */
.aboutme-section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  width: 100%;
  margin: 30px 0px;
}

.section-title {
  font-size: 30px;
  text-align: right;
  width: 20%;
  border-right: 5px solid;
  padding: 10px;
}

.aboutme-section h2 {
  font-size: 50px;
}

.aboutme-section .text {
  margin: 10px;
  width: 75%;
  line-height: 1.5;
}

.text {
  text-align: center;
  padding: 0;
  margin: 0;
}



/* Work section */
.works-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  margin: 30px 0px;
}

.works-section h2 {
  font-size: 50px;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

/* Applies a border, a margin, and hides the image overflow for all work cards */
.work-cards a {
  margin: 10px;
  border: 5px solid var(--purple);
  overflow: hidden;
}

/* Class to specify the size of the work cards*/
/* The first card is always the largest, while the other cards will align under the main one with smaller sizing. (Only on large screen size) */
.main-work {
  width: 100%;
  height: 400px;
}

.other-work {
  width: 47%;
  height: 200px;
}

/* Image centering  */
.img {
  height: 100%;
  width: 100%;
}

/* Information tag for each card */
.work-info {
  position: absolute;
  line-height: 1.2;
  padding: 10px;
  background-color: var(--purple);
  box-shadow: 3px 3px 10px rgb(48, 48, 48);
}

.work-info h3 {
  font-size: 20px;
}