* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
--gray: #494949;
--white: #fff;
--dark-violet: #1c0522;
--blue: #0087ff;

--outer-space: #33393f;
--bright-turquoise: #2aefcb;
--gin: #e0eae4;
--heliotrope: #e866ec;
}


body {
  background: linear-gradient(#2b1055, #1c0522);
  min-height: 100vh;
}

/* Full navbar revamp. Cleaned up navbar and made it a more minimalist feel. */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Always on top  */
  z-index: 10000;
}

.title {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* span for dream class to change the color and font of dream in h1  */
.dream{
  font-size: 48px;
  color: #fcff45;
}

/* Refer to navbar class.  */
/* Realign list to stack horizontally.*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove dot for list items */
.navbar li{
  list-style: none;
  margin-left: 20px;
}

/* Remove underline, change text color, make selection hover round  */
.navbar li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--white);
  border-radius: 20px;
  }

.navbar li a:hover,
.active {
  background: var(--white);
  color: #2b1055;
  }

/* End of navbar revamp */
/* TODO: Hero img */
/* PARALLAX SECTION: Images are set up to allow a parallax effect with javascript.*/
/* CREDITS TO ONLINE TUTORIALS ON YT  */

.parallax-sec {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-sec::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: linear-gradient(to top, var(--dark-violet), transparent);
  z-index: 1000;
}

.parallax-sec img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.parallax-sec img#moon {
  mix-blend-mode: screen;
}
.parallax-sec img#mountains-f {
  z-index: 6;
}

#hero-txt{
  position: absolute;
  color: var(--white);
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 5;
}

/* TODO: Resources/Resume section  */
/* TODO: Footer */

/* General formatting for all sections */
.section {
position: relative;
padding: 100px;
background: var(--dark-violet);
}

/* General Title for all sections */
.section-title {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: var(--white);
}

.section .text {
  font-size: 1.2em;
  line-height: 1.2;
  color: var(--white);

  margin-left: 0px;
  /* overflow: auto; */
  display: block;
}

.section img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

/* TODO: Use mini project css to semi implement card effects for works */
/* project section */
/* Using the Mini Project 2 as a reference */


/* Create a grid/ the project row class controls the projects section alignment */
.project-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

.project-column {
  margin-top: 15px;
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.project-column img{
  display: block;
  max-width: 230px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 5% 0;
}

/* Same as mini project, make a project card that shows information in a column */
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--white);
  outline: 2px solid var(--white);
  transition: all 0.5s ease-in-out;
}

/* Position the card header so that it rests within the upper side of the box */
.project-card .project-card-header {
  position: relative;
  margin: -1rem 0 1.5rem 0;
  padding: 0;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

/* giving space for the paragraph */
.card-body p{
margin-right: 15px;
}

/* Add hover effects for projects */
.project-card:hover,
.project-card:hover .project-card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

/* make each project card similar in height */
.project-card {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */

  .project-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .project-column:last-child {
    flex-grow: 1;
  }
}


/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  .project-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}